
<div class="container">
<div class="row-md-2">
<div class="col-md-3">





  <div class="nav" >
   <table>
<tr>
  <th ><button mat-raised-button extended >

    <a routerLink="intake" >Intake</a>
  </button>
  </th>
  <th ><button mat-raised-button extended >
   <a routerLink="ug-pg">UG-PG</a></button>
 </th>

<th><button mat-raised-button extended >
  <a routerLink="pcs">PCS</a></button>
</th>
<th><button mat-raised-button extended >
  <a routerLink="finance">Finance</a></button>
</th>

<th><button mat-raised-button extended >

  <a routerLink="research" >research</a>
</button>
</th>

<th><button mat-raised-button extended >

  <a routerLink="phd" >PHD</a>
</button>
</th>
<th class="btn btn-primary" ><button mat-raised-button extended>

  <a routerLink="excel" >Excel </a>
</button>
</th>
</tr>



   </table>
  </div>
</div>
<div class="col"><router-outlet></router-outlet></div>
<br>



</div>



</div>


