
<form >
<h1>Placement & Higher Studies</h1>
<br>
<br>
<h1>UG [4 Years Program(s)]: Placement & Higher Studies for previous 3 years</h1>
<table class="table table-bordered table-hover  table-responsive " >
  <tr><td>Academic Year</td>
  <td>No. of first year
    students intake in the
    year</td>
    <td>No. of first year
      students admitted in
      the year</td>
      <td>Academic Year</td>
      <td>No. of students
        admitted through
        </td>
        <td>Academic Year</td>
        <td>No. of students
          graduating in
          minimum stipulated
          time</td>
          <td>No. of students
            placed</td>
            <td>Median salary of
              placed graduates per
              annum(Amount in
              Rs.)</td>
<td>No. of students
  selected for Higher
  Studies
  </td>

  </tr>
  <tr><td> {{getCurrentYear()-6}}-{{getCurrentYear()-5}} </td>
    <td>
      <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')" placeholder="enter Here">
    </td>
    <td>
      <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')" placeholder="enter Here">
    </td>
    <td>{{getCurrentYear()-5}}-{{getCurrentYear()-4}}</td>
    <td>
      <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')" placeholder="enter Here">
    </td>
    <td>{{getCurrentYear()-3}}-{{getCurrentYear()-2}}</td>
    <td>
      <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')" placeholder="enter Here">
    </td>
    <td>
      <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')" placeholder="enter Here">
    </td>
    <td>
      <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')" placeholder="enter Here">
    </td>
    <td>
      <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')" placeholder="enter Here">
    </td>
  </tr>
  <tr><td>  {{getCurrentYear()-5}}-{{getCurrentYear()-4}}</td>
    <td>
      <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')" placeholder="enter Here">
    </td>
    <td>
      <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')" placeholder="enter Here">
    </td>
    <td> {{getCurrentYear()-4}}-{{getCurrentYear()-3}} </td>
    <td>
      <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')" placeholder="enter Here">
    </td>
    <td>{{getCurrentYear()-2}}-{{getCurrentYear()-1}}</td>
    <td>
      <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')" placeholder="enter Here">
    </td>
    <td>
      <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')" placeholder="enter Here">
    </td>
    <td>
      <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')" placeholder="enter Here">
    </td>
    <td>
      <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')" placeholder="enter Here">
    </td>
  </tr>

  <tr><td> {{getCurrentYear()-4}}-{{getCurrentYear()-3}} </td>
    <td>
      <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')" placeholder="enter Here">
    </td>
    <td>
      <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')" placeholder="enter Here">
    </td>
    <td>{{getCurrentYear()-3}}-{{getCurrentYear()-2}}</td>
    <td>
      <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')" placeholder="enter Here">
    </td>
    <td>{{getCurrentYear()-2}}-{{getCurrentYear()-1}}</td>
    <td>
      <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')" placeholder="enter Here">
    </td>
    <td>
      <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')" placeholder="enter Here">
    </td>
    <td>
      <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')" placeholder="enter Here">
    </td>
    <td>
      <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')" placeholder="enter Here">
    </td>
  </tr>
<tr>
  <td colspan="4"  align="center" class="btn btn-primary" type="submit" ><button mat-raised-button>SUBMIT</button></td>
</tr>
</table>

</form>



<form >

  <br>
  <br>
  <h1>UG [5 Years Program(s)]: Placement & Higher Studies for previous 3 years</h1>
  <table class="table table-bordered table-hover  table-responsive " >
    <tr><td>Academic Year</td>
    <td>No. of first year
      students intake in the
      year</td>
      <td>No. of first year
        students admitted in
        the year</td>
        <td>Academic Year</td>
        <td>No. of students
          admitted through
          </td>
          <td>Academic Year</td>
          <td>No. of students
            graduating in
            minimum stipulated
            time</td>
            <td>No. of students
              placed</td>
              <td>Median salary of
                placed graduates per
                annum(Amount in
                Rs.)</td>
  <td>No. of students
    selected for Higher
    Studies
    </td>

    </tr>
    <tr><td> {{getCurrentYear()-6}}-{{getCurrentYear()-5}} </td>
      <td>
        <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')" placeholder="enter Here">
      </td>
      <td>
        <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')" placeholder="enter Here">
      </td>
      <td>{{getCurrentYear()-5}}-{{getCurrentYear()-4}}</td>
      <td>
        <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')" placeholder="enter Here">
      </td>
      <td>{{getCurrentYear()-3}}-{{getCurrentYear()-2}}</td>
      <td>
        <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')" placeholder="enter Here">
      </td>
      <td>
        <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')" placeholder="enter Here">
      </td>
      <td>
        <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')" placeholder="enter Here">
      </td>
      <td>
        <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')" placeholder="enter Here">
      </td>
    </tr>
    <tr><td>  {{getCurrentYear()-5}}-{{getCurrentYear()-4}}</td>
      <td>
        <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')" placeholder="enter Here">
      </td>
      <td>
        <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')" placeholder="enter Here">
      </td>
      <td> {{getCurrentYear()-4}}-{{getCurrentYear()-3}} </td>
      <td>
        <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')" placeholder="enter Here">
      </td>
      <td>{{getCurrentYear()-2}}-{{getCurrentYear()-1}}</td>
      <td>
        <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')" placeholder="enter Here">
      </td>
      <td>
        <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')" placeholder="enter Here">
      </td>
      <td>
        <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')" placeholder="enter Here">
      </td>
      <td>
        <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')" placeholder="enter Here">
      </td>
    </tr>

    <tr><td> {{getCurrentYear()-4}}-{{getCurrentYear()-3}} </td>
      <td>
        <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')" placeholder="enter Here">
      </td>
      <td>
        <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')" placeholder="enter Here">
      </td>
      <td>{{getCurrentYear()-3}}-{{getCurrentYear()-2}}</td>
      <td>
        <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')" placeholder="enter Here">
      </td>
      <td>{{getCurrentYear()-2}}-{{getCurrentYear()-1}}</td>
      <td>
        <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')" placeholder="enter Here">
      </td>
      <td>
        <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')" placeholder="enter Here">
      </td>
      <td>
        <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')" placeholder="enter Here">
      </td>
      <td>
        <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')" placeholder="enter Here">
      </td>
    </tr>
  <tr>
    <td colspan="4"  align="center" class="btn btn-primary" type="submit" ><button mat-raised-button>SUBMIT</button></td>
  </tr>
  </table>

  </form>









<form >

  <br>
  <br>
  <h1>PG [2 Years Program(s)]: Placement & Higher Studies for previous 3 years</h1>
  <table class="table table-bordered table-hover  table-responsive " >
    <tr><td>Academic Year</td>
    <td>No. of first year
      students intake in the
      year</td>
      <td>No. of first year
        students admitted in
        the year</td>
        <td>Academic Year</td>
        <td>No. of students
          admitted through
          </td>
          <td>Academic Year</td>
          <td>No. of students
            graduating in
            minimum stipulated
            time</td>
            <td>No. of students
              placed</td>
              <td>Median salary of
                placed graduates per
                annum(Amount in
                Rs.)</td>
  <td>No. of students
    selected for Higher
    Studies
    </td>

    </tr>
    <tr><td> {{getCurrentYear()-6}}-{{getCurrentYear()-5}} </td>
      <td>
        <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')" placeholder="enter Here">
      </td>
      <td>
        <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')" placeholder="enter Here">
      </td>
      <td>{{getCurrentYear()-5}}-{{getCurrentYear()-4}}</td>
      <td>
        <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')" placeholder="enter Here">
      </td>
      <td>{{getCurrentYear()-3}}-{{getCurrentYear()-2}}</td>
      <td>
        <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')" placeholder="enter Here">
      </td>
      <td>
        <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')" placeholder="enter Here">
      </td>
      <td>
        <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')" placeholder="enter Here">
      </td>
      <td>
        <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')" placeholder="enter Here">
      </td>
    </tr>
    <tr><td>  {{getCurrentYear()-5}}-{{getCurrentYear()-4}}</td>
      <td>
        <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')" placeholder="enter Here">
      </td>
      <td>
        <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')" placeholder="enter Here">
      </td>
      <td> {{getCurrentYear()-4}}-{{getCurrentYear()-3}} </td>
      <td>
        <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')" placeholder="enter Here">
      </td>
      <td>{{getCurrentYear()-2}}-{{getCurrentYear()-1}}</td>
      <td>
        <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')" placeholder="enter Here">
      </td>
      <td>
        <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')" placeholder="enter Here">
      </td>
      <td>
        <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')" placeholder="enter Here">
      </td>
      <td>
        <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')" placeholder="enter Here">
      </td>
    </tr>

    <tr><td> {{getCurrentYear()-4}}-{{getCurrentYear()-3}} </td>
      <td>
        <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')" placeholder="enter Here">
      </td>
      <td>
        <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')" placeholder="enter Here">
      </td>
      <td>{{getCurrentYear()-3}}-{{getCurrentYear()-2}}</td>
      <td>
        <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')" placeholder="enter Here">
      </td>
      <td>{{getCurrentYear()-2}}-{{getCurrentYear()-1}}</td>
      <td>
        <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')" placeholder="enter Here">
      </td>
      <td>
        <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')" placeholder="enter Here">
      </td>
      <td>
        <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')" placeholder="enter Here">
      </td>
      <td>
        <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')" placeholder="enter Here">
      </td>
    </tr>
  <tr>
    <td colspan="4"  align="center" class="btn btn-primary" type="submit" ><button mat-raised-button>SUBMIT</button></td>
  </tr>
  </table>

  </form>






<br>
<br>
  <form >

    <br>
    <br>
    <h1>PG [3 Years Program(s)]: Placement & Higher Studies for previous 3 years</h1>
    <table class="table table-bordered table-hover  table-responsive " >
      <tr><td>Academic Year</td>
      <td>No. of first year
        students intake in the
        year</td>
        <td>No. of first year
          students admitted in
          the year</td>
          <td>Academic Year</td>
          <td>No. of students
            admitted through
            </td>
            <td>Academic Year</td>
            <td>No. of students
              graduating in
              minimum stipulated
              time</td>
              <td>No. of students
                placed</td>
                <td>Median salary of
                  placed graduates per
                  annum(Amount in
                  Rs.)</td>
    <td>No. of students
      selected for Higher
      Studies
      </td>

      </tr>
      <tr><td> {{getCurrentYear()-6}}-{{getCurrentYear()-5}} </td>
        <td>
          <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')" placeholder="enter Here">
        </td>
        <td>
          <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')" placeholder="enter Here">
        </td>
        <td>{{getCurrentYear()-5}}-{{getCurrentYear()-4}}</td>
        <td>
          <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')" placeholder="enter Here">
        </td>
        <td>{{getCurrentYear()-3}}-{{getCurrentYear()-2}}</td>
        <td>
          <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')" placeholder="enter Here">
        </td>
        <td>
          <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')" placeholder="enter Here">
        </td>
        <td>
          <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')" placeholder="enter Here">
        </td>
        <td>
          <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')" placeholder="enter Here">
        </td>
      </tr>
      <tr><td>  {{getCurrentYear()-5}}-{{getCurrentYear()-4}}</td>
        <td>
          <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')" placeholder="enter Here">
        </td>
        <td>
          <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')" placeholder="enter Here">
        </td>
        <td> {{getCurrentYear()-4}}-{{getCurrentYear()-3}} </td>
        <td>
          <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')" placeholder="enter Here">
        </td>
        <td>{{getCurrentYear()-2}}-{{getCurrentYear()-1}}</td>
        <td>
          <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')" placeholder="enter Here">
        </td>
        <td>
          <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')" placeholder="enter Here">
        </td>
        <td>
          <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')" placeholder="enter Here">
        </td>
        <td>
          <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')" placeholder="enter Here">
        </td>
      </tr>

      <tr><td> {{getCurrentYear()-4}}-{{getCurrentYear()-3}} </td>
        <td>
          <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')" placeholder="enter Here">
        </td>
        <td>
          <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')" placeholder="enter Here">
        </td>
        <td>{{getCurrentYear()-3}}-{{getCurrentYear()-2}}</td>
        <td>
          <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')" placeholder="enter Here">
        </td>
        <td>{{getCurrentYear()-2}}-{{getCurrentYear()-1}}</td>
        <td>
          <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')" placeholder="enter Here">
        </td>
        <td>
          <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')" placeholder="enter Here">
        </td>
        <td>
          <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')" placeholder="enter Here">
        </td>
        <td>
          <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')" placeholder="enter Here">
        </td>
      </tr>
    <tr>
      <td colspan="4"  align="center" class="btn btn-primary" type="submit" ><button mat-raised-button>SUBMIT</button></td>
    </tr>
    </table>

    </form>












